---
language: python
python: "2.7"
env:
  - ANSIBLE_VERSION=latest
  - ANSIBLE_VERSION=2.3.1.0
  - ANSIBLE_VERSION=2.2.2.0  
cache: bundler
#sudo: false
sudo: required
dist: trusty

branches:
  only:
    - master

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq python-apt python-pycurl
install:
  # Install Ansible.
  - if [ "$ANSIBLE_VERSION" = "latest" ]; then pip install ansible; else pip install ansible==$ANSIBLE_VERSION; fi
  - if [ "$ANSIBLE_VERSION" = "latest" ]; then pip install ansible-lint; fi
  
  # Add ansible.cfg to pick up roles path.
  - "{ echo '[defaults]'; echo 'roles_path = ../'; } >> ansible.cfg"
script:
  - sudo ansible --version
  - export ANSIBLE_ROLES_PATH="../"
#  - echo localhost > inventory
  - ansible-playbook -i hosts --syntax-check gcc.yml
  - ansible-playbook -i hosts --connection=local --sudo -vvvv gcc.yml
